.prev, .next {
  position: absolute;
  top: 25%;
  font-size: 30px;
  z-index: 1;
  cursor: pointer;
}
body{
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, monospace;
    font-style: italic;
    margin: auto 0 auto auto;}
.next {
  right: 0;
}
@media (max-device-width: 480px){
  img{
    height:100px;
    width: 100px;
  }
}